<h4>Note</h4>

<form name="editNote">
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="noteCtr.note.name" required minlength="3" maxlength="10">
    </md-input-container>

    <md-input-container>
        <label>Note text</label>
        <textarea class="note-body" name="summary" ng-model="noteCtr.note.summary" rows="10" required minlength="3"
                  maxlength="500">
                </textarea>
    </md-input-container>

    <div class="action-buttons">
        <md-button ng-disabled="editNote.$invalid" ng-click="noteCtr.createOrUpdate()">
            Save
        </md-button>
        <md-button ng-click="noteCtr.reset()">
            Cancel
        </md-button>
    </div>
</form>