<h4>Available notes</h4>

<ul class="notes-list">
    <li ng-repeat="n in noteCtr.notes">
        <div ng-click="noteCtr.viewNote(n.id)">
            <p class="note-summary" ng-bind="n.name"></p>
            <p class="note-summary" ng-bind="n.summary"></p>
        </div>
        <md-button ng-click="noteCtr.edit(n.id)">Edit</md-button>
        <md-button ng-click="noteCtr.remove(n.id)" class="md-raised md-warn">Remove</md-button>
    </li>
</ul>

<p style="color:red" ng-bind="noteCtr.noteEror"></p>

<md-button style="float:right" ng-click="noteCtr.newNoteView()">
    New Note
</md-button>