<div layout="column" layout-align="center center">
    <h1>Login</h1>
    <form name="loginForm">
        <md-input-container>
            <label>Username</label>
            <input type="text" name="username" ng-model="login.username" minlength="3" maxlength="10" required>
            <span style="color:red" ng-show="loginForm.username.$dirty && loginForm.username.$error.required" class="help-block">Username is required</span>
        </md-input-container>

        <md-input-container>
            <label>Password</label>
            <input type="password" name="password" ng-model="login.password" minlength="3" maxlength="10" required>
            <span style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block">Password is required</span>
        </md-input-container>

        <p style="color:red" ng-show="invalidCreds">Invalid credentials</p>

        <div class="action-buttons">
            <md-button ng-disabled="loginForm.$invalid" ng-click="login()">
                Login
            </md-button>
        </div>
    </form>
</div>