<div class="notes-view" ng-controller="notesController as noteCtr">
    <section class="notes-panel">
        <div ng-include="'partials/list-notes.html'"></div>
    </section>
    <section class="note-panel">
        <div ng-if="noteCtr.isEditCreateView" ng-include="'partials/create-edit-note.html'"></div>
        <div ng-if="!noteCtr.isEditCreateView">
            <span ng-show="!noteCtr.note.id">
                No note selected
            </span>
            <span ng-show="noteCtr.note.id">
                <h4>Note view</h4>
            <md-input-container>
                <label>Name</label>
                <input type="text" ng-model="noteCtr.note.name" disabled>
            </md-input-container>

            <md-input-container>
                <label>Note text</label>
                <textarea class="note-body" ng-model="noteCtr.note.summary" rows="10" disabled>
                </textarea>
            </md-input-container>
            </span>
        </div>
    </section>
</div>